<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165207468240-9j84ljelc69o8ree4r8pf44nidubhml1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165207468240-9j84ljelc69o8ree4r8pf44nidubhml1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>165207468240-lkm3soom5kd5f34hnp16lqjlp06cv9hv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDKBRX95j8iiOEE9hrFQ6lQb8dZ5nE6MN0</string>
	<key>GCM_SENDER_ID</key>
	<string>165207468240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasedemo</string>
	<key>PROJECT_ID</key>
	<string>ykdemo-6e6b5</string>
	<key>STORAGE_BUCKET</key>
	<string>ykdemo-6e6b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165207468240:ios:9d6a2a68ff6c64ebd696d5</string>
	<key>DATABASE_URL</key>
	<string>https://ykdemo-6e6b5.firebaseio.com</string>
</dict>
</plist>